@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');
:global(.swiper-wrapper){
  position: relative;
  left: -33%;
  padding-top: 10px;
}
.wrapper {
  position: relative;
  bottom: 9.63%;
  top: 365px;
  width: 100%;

  .swiper{
    height: 130px !important;
    z-index: 10;
  }
  .slider {
    margin-right: 50px;
    word-break: break-word;
    text-align: left;
    height: 130px!important;

    .title {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 25px;
      line-height: 120%;
      text-transform: uppercase;
      color: #3877EE;
      text-align: left;
      margin: 0;
    }

    .description {
      font-family: 'PT Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 90px;
      margin: 0;
    }
  }

  .nextBtn {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 20;
    transform: translate(-50%, 0);
    border: none;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    &:after{
      transform: translate(6px, -12px);
    }
    &:before{
      transform: translate(6px, 12px);
    }

  }

  .prevBtn {
    position: absolute;
    left: 0;
    transform: translate( 50%, 160%);
    z-index: 20;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    &:after{
      background: #3877EE;
      transform: translate(6px, 0);
      rotate: 315deg;
    }
    &:before{
      background: #3877EE;
      rotate: 45deg;
      transform: translate(6px, 0px);
    }
  }

}
