@import './src/_variables';

.main {
height: 100vh;
  .wrapper {
    min-height: calc(100vh - 80px);
    border-left: 1px solid rgba(66, 86, 122, 0.1);
    border-right: 1px solid rgba(66, 86, 122, 0.1);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      background: $color-primary;
      opacity: 0.1;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 480px;
      left: 0;
      background: $color-primary;
      opacity: 0.1;
    }
    .box{
      display: flex;
      width: 100%;
      flex-direction: column;

      .title {
        text-align: left;
        max-width: 432px;
        min-width: 132px;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: clamp(20px, 6cqi, 56px);
        line-height: 120%;
        color: #42567A;
        padding-left: 4.05%;
        margin-top: 170px;
        height: 134px;
        container-type: inline-size;

        &:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 120px;
          top: 7px;
          left: 0;
          background: linear-gradient(180deg, $color-secondary 0%, $color-third 100%);
        }
      }
      .dates {
        display: flex;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: clamp(56px, 18cqi, 200px);
        line-height: 160px;
        justify-content: space-between;
        color: #EF5DA8;
        z-index: 2;
        letter-spacing: -0.02em;
        margin: 96px auto 0;
        gap: 80px;


        >div:nth-child(1) {
          color: $color-secondary;
        }
      }
    }
  }
}



@media (max-width: 1024px) {
  .wrapper {
    &:after {
      display: none
    }
    &:before{
     width: 90%!important;
      left: 5%!important;
      top:393px!important;
    }
    .box{
      .title {
        padding-left: 40px;
        width: 170px;
        margin-top:59px!important;
        height:48px!important;

        &:before {
          display: none;
        }
      }
    }
      .dates{
        gap: 35px!important;
      }
    }
}

@media (max-width: 576px){
  .wrapper{
    &:before{
      top: 293px!important;
    }
    .dates{
      margin: 50px auto 0 !important;

      line-height: 72px!important;
    }
  }
}

